[Desktop Entry]
Name=RÖIDS
Comment=The classic space shooter
MimeType=application/x-love-game;
Exec=roids-v0.1.1-alpha %f
Type=Application
Categories=Development;Game;
Terminal=false
Icon=roids
NoDisplay=true
